.gitattributes text eol=lf
.gitignore text eol=lf
*.cfg text eol=lf
*.cff text eol=lf
*.csv text eol=lf
*.f90 text eol=lf
*.md text eol=lf
*.m text eol=lf
*.pvts text eol=lf
*.py text eol=lf
*.txt text eol=lf
LICENSE text eol=lf
Makefile text eol=lf
SHA256SUMS text eol=lf
VERSION text eol=lf
*.vts binary
*.flowsfg binary
*.shksfg binary
*.png binary
